.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(1500px, 85%);
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #151516;
    z-index: 100;

    * {
        transition: all 0.3s ease-out;
    }

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }
}

.mainNav {
    border: 5px solid #ffffffa6;
    border-radius: 10px;
    padding: 1rem;
    position: relative;
    text-align: center;

    &:hover {
        border: 5px solid #ffffff;
    }

    a {
        padding: 0 1rem;
    }
}

.menuBars {
    display: none;
}

header {
    position: relative;
}

.slideOutNav {
    display: none;
}

#navUnderline {
    height: 3px;
    width: 0;
    background-color: #f3ca2f;
    position: absolute;
    left: 0;
    bottom: 1rem;
    transition: 0.5s ease;
}

.socials a {
    margin: 0 0.3rem;
}