section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    margin: 0 auto;
}

.title {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    max-height: 100vh;
    h3 {
        transform: rotate(-90deg);
        white-space: nowrap;
    }
}

.contentContainer {
    width: 80%;
}

#intro {
    .contentContainer {
        display: flex;
        align-items: center;
    }
    .textContainer {
        width: max(700px, 50%);
    }
    .imageContainer {
        width: 350px;
        flex-shrink: 0;
        margin: 0 auto;
        border-radius: 50%;
        border: 3px solid #f3ca2f;
        overflow: hidden;

        will-change: transform, opacity;
        transform: scale(0.5);
        opacity: 0;
        transition: all 0.5s 0.25s ease-out;
        &.isVisible {
            will-change: transform, opacity;
            transform: scale(1);
            opacity: 1;
        }
    }
    p {
        will-change: transform, opacity;
        transform: translateX(50%);
        opacity: 0;
        transition: all 1s 0.5s ease-out;
        &.isVisible {
            will-change: transform, opacity;
            transform: translateX(0);
            opacity: 1;
        }
    }
    h1,
    .line {
        will-change: transform, opacity;
        transform: translateY(100%);
        opacity: 0;
        transition: all 1s 0.5s ease-out;
        &.isVisible {
            will-change: transform, opacity;
            transform: translateY(0);
            opacity: 1;
        }
    }
}

.line {
    width: 5rem;
    height: 0.2rem;
    background-color: #f3ca2f;
    display: block;
    margin-top: 5rem;
}

.aboutContainer {
    border: 1px solid white;
    svg {
        float: right;
    }
    .contentContainer {
        padding: 7rem 0;
        .textContainer {
            padding-top: 2rem;
        }
    }
    p span {
        text-decoration: underline;
        text-decoration-color: #f3ca2f;
    }
}

#draw {
    stroke-dasharray: 315;
    stroke-dashoffset: 315;

    animation: draw 3s infinite alternate ease-in-out;
}

.skillsContainer {
    height: 60vh;
}

.carousel {
    perspective: 250px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    transform: translateY(150%);
}

.carouselCard {
    width: 3rem;
    height: 3.5rem;
    background-color: #383838;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation: carouselEffect 9s infinite linear;
    position: absolute;
    left: 50%;
}

.ccard1 {
    background: linear-gradient(-229deg, #e34236, #f06529);
}
.ccard2 {
    animation-delay: -1s;
    background: linear-gradient(-229deg, #264de4, #ffffff);
}
.ccard3 {
    animation-delay: -2s;
    background: linear-gradient(-229deg, #f8a5c2, #ba68c8);
}
.ccard4 {
    animation-delay: -3s;
    background: linear-gradient(-229deg, #f0db4f, #323330);
}
.ccard5 {
    animation-delay: -4s;
    background: linear-gradient(-229deg, #61dbfb, #ffffff);
}
.ccard6 {
    animation-delay: -5s;
    background: linear-gradient(-229deg, #f1502f, #3e2c00);
}
.ccard7 {
    animation-delay: -6s;
    background: linear-gradient(-229deg, #211f1f, #000);
}
.ccard8 {
    animation-delay: -7s;
    background: linear-gradient(-229deg, #ffa611, #ffcb2b);
}
.ccard9 {
    animation-delay: -8s;
    background: linear-gradient(-229deg, #303030, #3c873a);
}

#projects {
    background-color: #383838;
    .contentContainer {
        margin: 6rem 0;
    }
}
.myProjects {
    display: flex;
}

.projectCarousel {
    min-height: 60vh;
    position: relative;
}

.displayFlex {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    display: flex;
}

.projectCarouselToggle {
    position: absolute;
    right: 25%;
    transform: translateX(50%);
    cursor: pointer;
    z-index: 5;
}

.projectCarouselCard {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin: 4rem 0;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectCarouselCardContent {
    border: 1px solid #ffffffa6;
    display: flex;
    align-items: center;
    text-align: center;
    width: 90%;
    border-radius: 15px;

    will-change: transform, opacity;
    transform: scale(0.8);
    opacity: 0.25;
    transition: all 0.5s ease-out;
    &.isVisible {
        will-change: transform, opacity;
        transform: scale(1);
        opacity: 1;
    }

    > div {
        margin: 2rem;
    }
    .imageContainer {
        border-radius: 15px;
        overflow: hidden;
    }
    .textContainer {
        width: 400px;
        flex-shrink: 0;
    }
}

.projectCarouselCard:nth-child(even) .projectCarouselCardContent {
    flex-direction: row-reverse;
}

.projectCarouselCard:nth-child(n + 5) {
    display: none;
}

#contact {
    h2 {
        padding-bottom: 4rem;
    }
    i {
        font-size: 3rem;
    }
    .button {
        animation: blinking 2s infinite linear;
        &:hover {
            animation: none;
            color: #f3ca2f;
            border: 1px solid #f3ca2f;
        }
    }
}

.contactOptions {
    display: flex;
    justify-content: space-between;
    > div {
        border: 1px solid #ffffffa6;
        background-color: #383838;
        border-radius: 15px;
        width: 45%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

.displayNone {
    display: none;
}

.displayBlock {
    display: flex !important;
}
